@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F5EDED;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: #E1DFDB;
    text-decoration: none;
}

.cardapio__cabecalho {
    background-color: rgba(31, 56, 80, 1);
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao__logotipo {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logotipo__img {
    padding: 8px 4px 8px 12px;
    height: 56px;
    width: 56px;
}

.logotipo__texto__alternativo {
    margin: 0;
    padding: 16px 12px;
    color: #E1DFDB;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
}

.navegacao__lista {
    padding: 10px 12px;
    display: flex;
    gap: 32px;
    color: #E1DFDB;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cabecalho__titulo {
    display: flex;
    justify-content: center;
}

.titulo__cardapio {
    margin: 40px;
    color: rgba(187, 204, 214, 1);
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.cabecalho__reservas {
    background-color: rgba(31, 56, 80, 1);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservas__botao {
    background-color: transparent;
    padding: 5px 30px;
    border: 1px solid #E1DFDB;
    border-radius: 3px;
    color: #E1DFDB;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.principal__pratos {
    margin: 80px;
}

.pratos__lista {
    display: flex;
    flex-direction: column;
}

.pratos__elemento {
    display: flex;
    justify-content: center;
}

.pratos__ilustracao {
    display: flex;
    flex-direction: column;
}

.ilustracao__img {
    height: 400px;
    width: 500px;
}

.ilustracao__descricao {
    text-align: center;
    color: #212121;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
}

.texto__categoria {
    color: rgba(6, 65, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.texto__lista {
    padding: 0;
    width: 500px;
    color: rgba(33, 33, 33, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.principal__contato {
    background-color: #E2DAD6;
}

.contato__texto {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: rgba(6, 65, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.principal__formulario {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.formulario__titulo {
    color: rgba(6, 65, 124, 1);
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 400;
}

.form {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__elemento,
.form__caixatexto {
    background-color: transparent;
    border: 1px solid rgba(6, 65, 124, 1);
    color: rgba(6, 65, 124, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form__elemento {
    height: 32px;
}

.form__caixatexto {
    height: 160px;
    resize: none;
}

.form__elemento::placeholder,
.form__caixatexto::placeholder {
    color: rgba(6, 65, 124, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form__elemento:focus,
.form__caixatexto:focus {
    outline: none;
}

.form__botao {
    background-color: transparent;
    width: 200px;
    border: 1px solid rgba(6, 65, 124, 1);
    color: rgba(6, 65, 124, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.cardapio__rodape {
    background-color: #E2DAD6;
    display: flex;
    justify-content: center;
}

.rodape__texto {
    margin: 0;
    padding: 20px;
    color: rgba(0, 48, 95, 1);
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 400;
}