@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F5EDED;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: #E1DFDB;
    text-decoration: none;
}

.chef__cabecalho {
    background-color: rgba(31, 56, 80, 1);
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao__logotipo {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logotipo__img {
    padding: 8px 4px 8px 12px;
    height: 56px;
    width: 56px;
}

.logotipo__texto__alternativo {
    margin: 0;
    padding: 16px 12px;
    color: #E1DFDB;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
}

.navegacao__lista {
    padding: 10px 12px;
    display: flex;
    gap: 32px;
    color: #E1DFDB;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cabecalho__titulo {
    display: flex;
    justify-content: center;
}

.titulo__chef {
    margin: 40px;
    color: rgba(187, 204, 214, 1);
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.principal__min-jun {
    background-color: rgba(31, 56, 80, 1);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.min-jun__img {
    height: 800px;
    width: 700px;
}

.min-jun__descricao {
    margin-bottom: 80px;
    color: rgba(225, 223, 219, 1);
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
}

.principal__biografia,
.principal__culinaria,
.principal__equipe {
    display: flex;
    justify-content: center;
}

.biografia__texto,
.culinaria__texto,
.equipe__texto {
    margin: 0;
    padding: 80px;
    width: 800px;
    text-align: justify;
    color: rgba(6, 65, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.principal__ilustracao,
.principal__video {
    background-color: #E2DAD6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ilustracao__img,
video {
    padding-top: 80px;
    height: 500px;
    width: 700px;
}

.ilustracao__descricao,
.video__descricao {
    padding-bottom: 80px;
    color: #212121;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
}

.chef__rodape {
    background-color: #E2DAD6;
    display: flex;
    justify-content: center;
}

.rodape__texto {
    margin: 0;
    padding: 20px;
    color: rgba(0, 48, 95, 1);
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 400;
}