@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F5EDED;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: #F5EDED;
    text-decoration: none;
}

.chef__cabecalho {
    background-color: #293B5F;
    font-family: "Playfair Display", serif;
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao__logotipo {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logotipo__img {
    height: 40px;
    width: 40px;
}

.logotipo__texto__alternativo {
    color: #F5EDED;
    font-size: 1rem;
}

.navegacao__lista {
    padding: 10px;
    display: flex;
    gap: 32px;
    font-size: 1rem;
}

.cabecalho__titulo {
    display: flex;
    justify-content: center;
    color: #AEBDCA;
}

.titulo__chef {
    margin: 40px;
}

.principal__min-jun {
    background-color: #293B5F;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
}

.min-jun__img {
    height: 800px;
    width: 600px;
}

.min-jun__descricao {
    margin-bottom: 80px;
    color: #F5EDED;
    font-size: 0.75rem;
    font-weight: normal;
}

.principal__biografia {
    display: flex;
    justify-content: center;
}

.biografia__texto {
    margin: 0;
    padding: 80px;
    width: 800px;
    color: #28527A;
    text-align: left;
    text-align: justify;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.principal__ilustracao {
    background-color: #E2DAD6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
}

.ilustracao__img {
    padding-top: 80px;
    height: 500px;
    width: 600px;
}

.ilustracao__descricao {
    padding-bottom: 80px;
    color: #777777;
    font-size: 0.75rem;
    font-weight: normal;
}

.principal__culinaria {
    display: flex;
    justify-content: center;
}

.culinaria__texto {
    margin: 0;
    padding: 80px;
    width: 800px;
    color: #28527A;
    text-align: left;
    text-align: justify;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.principal__video {
    background-color: #E2DAD6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
}

video {
    padding-top: 80px;
    height: 500px;
    width: 600px;
}

.video__descricao {
    padding-bottom: 80px;
    color: #777777;
    font-size: 0.75rem;
    font-weight: normal;
}

.principal__equipe {
    display: flex;
    justify-content: center;
}

.equipe__texto {
    margin: 0;
    padding: 80px;
    width: 800px;
    color: #28527A;
    text-align: left;
    text-align: justify;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.chef__rodape {
    background-color: #E2DAD6;
    display: flex;
    justify-content: center;
}

.rodape__texto {
    margin: 0;
    padding: 20px;
    color: #293B5F;
    font-size: 0.75rem;
}