@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F5EDED;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: #E1DFDB;
    text-decoration: none;
}

.contato__cabecalho {
    background-color: rgba(31, 56, 80, 1);
    height: 750px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao__logotipo {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logotipo__img {
    padding: 8px 4px 8px 12px;
    height: 56px;
    width: 56px;
}

.logotipo__texto__alternativo {
    margin: 0;
    padding: 16px 12px;
    color: #E1DFDB;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
}

.navegacao__lista {
    padding: 10px 12px;
    display: flex;
    gap: 32px;
    color: #E1DFDB;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.cabecalho__localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.localizacao__titulo {
    color: rgba(187, 204, 214, 1);
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.cabecalho__reservas {
    background-color: rgba(31, 56, 80, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservas__botao {
    background-color: transparent;
    padding: 5px 30px;
    border: 1px solid #E1DFDB;
    border-radius: 3px;
    color: #E1DFDB;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.principal__info {
    margin: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.info__dados,
.info__funcionamento {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.dados__titulo,
.funcionamento__titulo {
    color: rgba(6, 65, 124, 1);
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 400;
}

.dados__texto,
.funcionamento__texto {
    color: rgba(33, 33, 33, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal__ilustracao {
    background-color: #E2DAD6;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ilustracao__img {
    padding-top: 80px;
    height: 500px;
    width: 700px;
}

.ilustracao__descricao {
    padding-bottom: 80px;
    color: #212121;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-weight: 400;
}

.principal__experiencia,
.principal__ambiente {
    display: flex;
    justify-content: center;
}

.experiencia__texto,
.ambiente__texto {
    margin: 0;
    padding: 80px;
    width: 800px;
    text-align: justify;
    color: rgba(6, 65, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.contato__rodape {
    background-color: #E2DAD6;
    display: flex;
    justify-content: center;
}

.rodape__texto {
    margin: 0;
    padding: 20px;
    color: rgba(0, 48, 95, 1);
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 400;
}