@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F5EDED;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: #F5EDED;
    text-decoration: none;
}

.pagina__inicial__cabecalho {
    background-image: url(/assets/ramyeon-capa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
}

.navegacao__logotipo {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logotipo__img {
    height: 40px;
    width: 40px;
}

.logotipo__texto__alternativo {
    color: #F5EDED;
    font-size: 1rem;
}

.navegacao__lista {
    padding: 10px;
    display: flex;
    gap: 32px;
    font-size: 1rem;
}

.cabecalho__banner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5EDED;
}

.banner__titulo {
    background-color: transparent;
    margin: 0;
    padding: 20px 80px;
    border: 3px solid #F5EDED;
    text-align: center;
    font-size: 2rem;
}

.banner__slogan {
    font-size: 1rem;
}

.cabecalho__reservas {
    background-color: #293B5F;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservas__botao {
    background-color: transparent;
    padding: 5px 30px;
    border: 1px solid #F5EDED;
    border-radius: 3px;
}

.principal__ramyeon {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
}

.ramyeon__img {
    height: 500px;
    width: 1000px;
}

.ramyeon__descricao {
    color: #777777;
    font-size: 0.75rem;
    font-weight: normal;
}

.principal__boas__vindas {
    background-color: #E2DAD6;
}

.boas__vindas__texto {
    margin: 0;
    padding: 80px;
    color: #28527A;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
}

.principal__avaliacoes {
    background-color: #293B5F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacoes__titulo {
    color: #AEBDCA;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: normal;
}

.avaliacoes__lista {
    padding: 0;
    display: flex;
    gap: 64px;
    color: #E2DAD6;
    font-family: "Open Sans", sans-serif;
    font-size: 0.70rem;
}

.avaliacoes__elemento {
    height: 250px;
}

.avaliacao__nome {
    text-align: left;
}

.avaliacao__estrelas {
    text-align: left;
}

.avaliacao__comentario {
    text-align: justify;
}

.ilustracao__img {
    height: 100px;
    width: 500px;
}

.pagina__inicial__rodape {
    background-color: #E2DAD6;
    display: flex;
    justify-content: center;
}

.rodape__texto {
    margin: 0;
    padding: 20px;
    color: #293B5F;
    font-size: 0.75rem;
}